{% extends 'base.html' %}
{% block menu %}
Tambah Data Nasabah
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Simpan</button>
    </form>
{% endblock %}
