{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="{% static 'vicidApp/sidebar-07/css/style.css' %}"
    />
    <title>{% block title %}My Website{% endblock %}</title>
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar" class="active">
        <h1><a href="index.html" class="logo">M.</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="{% url 'customer_list' %}"><span class="fa fa-users"></span> Data Nasabah</a>
          </li>
          <li>
            <a href="{% url 'history' %}"><span class="fa fa-history"></span> History</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-upload"></span> Upload</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-download"></span> Download</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-sign-out"></span> Log Out</a>
          </li>
        </ul>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button
              class="btn btn-dark d-inline-block d-lg-none ml-auto"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fa fa-bars"></i>
            </button>
            <h3>{% block menu %} {% endblock %}</h3>

            <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
              </ul>
            </div> -->
          </div>
        </nav>

        {% block content %} {% endblock %}
      </div>
    </div>

    <script src="{% static 'vicidApp/sidebar-07/js/jquery.min.js' %}"></script>
    <script src="{% static 'vicidApp/sidebar-07/js/popper.js' %}"></script>
    <script src="{% static 'vicidApp/sidebar-07/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vicidApp/sidebar-07/js/main.js' %}"></script>
    <script src="{% static 'vicidApp/style.css' %}"></script>

  </body>
</html>
