{% extends 'base.html' %}
{% block menu %}
Data Nasabah
{% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Daftar Nasabah</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'vicidApp/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" defer></script>
</head>

<body>
    <a href="{% url 'add_customer' %}"><button type="button" class="btn btn-primary" style="float: right;">Add Customer</button></a>
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        
        <thead>
            <tr>
                <th class="th-sm">VICID</th>
                <th class="th-sm">In Approval</th>
                <th class="th-sm">Account Number</th>
                <th class="th-sm">Identity Number</th>
                <th class="th-sm">Customer Name</th>
                <th class="th-sm">Process Record</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.VICID }}</td>
                <td>
                    {% if customer.in_approval %}
                        In Approval
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ customer.ACCTNO }}</td>
                <td>{{ customer.NO_IDEN }}</td>
                <td>{{ customer.NAMA_NASABAH }}</td>
                <td>
                    <a href="{% url 'update_customer' customer.customer_id %}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'delete_customer' customer.customer_id %}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
    
    <link type="text/javascript" src="{% static 'node_modules/mdbootstrap/js/jquery.min.js' %}">
    <link type="text/javascript" src="{% static 'node_modules/mdbootstrap/js/popper.min.js' %}">
    <link type="text/javascript" src="{% static 'node_modules/mdbootstrap/js/bootstrap.min.js' %}">
    <link type="text/javascript" src="{% static 'node_modules/mdbootstrap/js/mdb.min.js' %}">
</body>

</html>
{% endblock %}