{% extends 'base.html' %}
{% block menu %}
Data Nasabah
{% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Daftar Nasabah</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'vicidApp/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" defer></script>
</head>

<body>
    <a href="{% url 'add_customer' %}"><button type="button" class="btn btn-primary" style="float: right;">Add Customer</button></a>
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        
        <thead>
            <tr>
                <th class="th-sm">Customer ID</th>
                <th class="th-sm">Nama Field</th>
                <th class="th-sm">Field Awal</th>
                <th class="th-sm">Field Update</th>
                <th class="th-sm">Tanggal Update</th>
                <th class="th-sm">Jam Update</th>
                <th class="th-sm">Tanggal Approve Update</th>
                <th class="th-sm">Jam Approve Update</th>
                <th class="th-sm">User Update</th>
                <th class="th-sm">Approve Update</th>
                <th class="th-sm">Tanggal Delete</th>
                <th class="th-sm">Jam Delete</th>
                <th class="th-sm">Tanggal Approve Delete</th>
                <th class="th-sm">Jam Approve Delete</th>
                <th class="th-sm">User Delete</th>
                <th class="th-sm">Approve Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in history_entries %}
            <tr>
                <td>{{ entry.customer.customer_id }}</td>
                <td>{{ entry.Nama_Field }}</td>
                <td>{{ entry.Field_Awal }}</td>
                <td>{{ entry.Field_Update }}</td>
                <td>{{ entry.TGL_UPDT }}</td>
                <td>{{ entry.JM_UPDT }}</td>
                <td>{{ entry.TGL_APPRV_UPDT }}</td>
                <td>{{ entry.JM_APPRV_UPDT }}</td>
                <td>{{ entry.USR_UPDT }}</td>
                <td>{{ entry.APPRV_UPDT }}</td>
                <td>{{ entry.TGL_DELET }}</td>
                <td>{{ entry.JM_DELET }}</td>
                <td>{{ entry.TGL_APPRV_DELET }}</td>
                <td>{{ entry.JM_APPRV_DELET }}</td>
                <td>{{ entry.USR_DELET }}</td>
                <td>{{ entry.APPRV_DELET }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
    
    <link type="text/javascript" src="{% static 'node_modules/mdbootstrap/js/jquery.min.js' %}">
    <link type="text/javascript" src="{% static 'node_modules/mdbootstrap/js/popper.min.js' %}">
    <link type="text/javascript" src="{% static 'node_modules/mdbootstrap/js/bootstrap.min.js' %}">
    <link type="text/javascript" src="{% static 'node_modules/mdbootstrap/js/mdb.min.js' %}">
</body>

</html>
{% endblock %}