{% extends 'base.html' %}

{% block menu %}
Update Data Nasabah
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'add_customer' %}"><button type="submit" class="btn btn-primary" style="float: right;">Update</button></a>
</form>
<a href="{% url 'customer_list' %}">Back to Customer List</a>

{% endblock %}
